# =========================
# Android & Gradle
# =========================
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Local configuration file (SDK path, etc)
local.properties

# Log / OS Files
*.log

# Android Studio generated folders
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_ 
output-metadata.json

# =========================
# IntelliJ / Android Studio
# =========================
# Ignore all IntelliJ IDEA project files
.idea/*
# Except the following (safe to share)
!.idea/codeStyles/
!.idea/vcs.xml
!.idea/runConfigurations/

# Optional: ignore specific known files that cause issues
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml
.idea/navEditor.xml

# =========================
# Keystore files
# =========================
*.jks
*.keystore

# =========================
# Google Services (Firebase, APIs)
# =========================
google-services.json

# =========================
# Android Profiling / Memory dumps
# =========================
*.hprof
